<%- include ("partials/header") %> 

<section id="refer">
    <div class="container">
        <h2 class="mb-3"><i class="far fa-comments"></i> Tell friends about Netflix.</h2><hr>
        <div class="box">
            <div class="row text-center">
                <h6 class="share">Share this link so your friends can join the conversation around all your favorite TV shows and movies.</h6>
                <div class="col-lg-5 col-md-12 link-input">
                    <input type="text" name="" id="link" value="https://www.netflix.com/n/ac81e3d3-7b39">
                    <button class="btn btn-danger" onclick="copyCode()">Copy link</button>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h5 class="or">Or</h5>
                </div>
                <div class="col-lg-5 col-md-12">
                    <i class="fab fa-facebook-square" aria-hidden="true"></i><span class="dot"></span>
                    <i class="fab fa-twitter-square" aria-hidden="true"></i><span class="dot"></span>
                    <i class="fab fa-whatsapp-square" aria-hidden="true"></i><span class="dot"></span>
                    <i class="fas fa-envelope-square" aria-hidden="true"></i>
                </div>
            </div>
        </div> <!--end-->

        
    </div>
</section>
<%- include ("partials/footer") %> 