* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(15, 15, 15);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* navbar  */

#nav .navbar-brand .logo {
  width: 100px;
  margin-left: 30px;
  transition: 0.3s;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: none;
}
li.active {
  font-weight: 600;
}
#nav nav {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0.03) 100%
  );
  padding: 10px;
}
#nav nav a i {
  font-size: 20px;
  margin: 0 7px;
}
#nav nav li a {
  font-size: 15px;
}
#nav nav #search {
  border: none;
  outline: none;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: rgb(24, 24, 24);
  color: white;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  background-color: white;
  opacity: 0;
  pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

#nav nav .profile .dropdown-menu {
  margin-top: 20px;
  margin-right: 5px;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.9);
}
#nav nav .drop .dropdown-menu .dropdown-item {
  color: white;
  margin-bottom: 10px;
}
#nav hr {
  border-color: rgb(255, 255, 255);
}
#nav nav .drop .dropdown-menu .dropdown-item:hover {
  color: black;
}
#nav nav .profile .dropdown-menu .dropdown-item img {
  border-radius: 4px;
}
#nav nav .profile .avatar {
  height: 33px;
  border-radius: 4px;
}

#nav nav .drop button {
  color: white;
  outline: 0;
  border: none;
}

#nav nav .notifications .dropdown-toggle::after {
  display: none;
}
#nav nav .notifications button i {
  font-size: 20px;
  color: white;
}
#nav nav .notifications .dropdown-menu {
  margin-top: 20px;
  margin-right: 5px;
  max-width: 350px !important;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  overflow: hidden;
}
#nav nav .notifications a span {
  font-size: 12px;
  padding-top: 5px;
  vertical-align: middle;
}

#nav nav .notifications .avatar {
  height: 50px;
  width: 100px;
  border-radius: 4px;
}
#nav nav button#search-btn:focus {
  outline: none;
  border: none;
}
@media (min-width: 993px) {
  #nav .navbar-nav .logo {
    display: none;
  }
  #nav nav li a {
    margin: 0 3px;
  }
  #nav nav .drop .dropdown-menu {
    margin-top: 10px;
  }
}
@media (max-width: 1100px) and (min-width: 992px) {
  #nav nav #search-bar {
    margin-right: -40px !important;
  }
  #nav nav #search {
    width: 60%;
  }
}
@media (max-width: 1023px) and (min-width: 992px) {
  #nav nav {
    padding: 10px 0;
  }
}
@media (max-width: 992px) {
  #nav .navbar-nav .logo {
    width: 130px;
    /* margin-left: 30px; */
    transition: 0.3s;
  }
  .navbar-collapse {
    position: fixed;
    top: 0px; /* adjust to height of navbar */
    left: 0;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 55%;
    height: 100%;
    background: rgba(0, 0, 0, 0.92);
    border-right: 0.1px solid red;
    transition: 0.4s;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
  ul.navbar-nav {
    display: flex;
    align-items: center;
  }
  ul.navbar-nav li.first {
    margin-top: 30px;
  }
  ul.navbar-nav li {
    margin: 10px 0;
  }
  span#right {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #nav nav .notifications .dropdown-menu {
    margin-top: -5px;
  }
}

@media (max-width: 450px) {
  .navbar-collapse {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .navbar-collapse {
    width: 65%;
  }
}
@media (max-width: 375px) {
  .navbar-collapse {
    width: 70%;
  }
  #nav nav a i {
    font-size: 23px;
    margin: 0 4px;
  }
}

.overlay {
  outline: 100vw solid rgba(0, 0, 0, 0.6) !important;
  outline-offset: -100vw;
  overflow: hidden;
  position: relative;
}
/* owl carousel  */

.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 10px;
  height: 2px;
  /* border-radius: 50%; */
  display: inline-block;
  background: rgb(94, 94, 94);
  margin: 0 3px;
  opacity: 0;
}
.owl-slider:hover .owl-dots button.owl-dot {
  opacity: 1;
}
.owl-nav button {
  /* position: absolute;
  top: 50%; */
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-dots button.owl-dot.active {
  background-color: #fff;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  height: 85%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.25) !important;
}
.owl-slider span {
  font-size: 90px;
  position: relative;
  top: -5px;
  color: white;
}
.owl-nav button:focus {
  outline: none;
}
.owl-carousel .item img {
  min-width: 100%;
  height: 180px;
  min-height: 100px;
  cursor: pointer;
}
.owl-carousel .item .details {
  position: relative;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin-top: 3px;
  padding-top: 5px;
  cursor: pointer;
}

.owl-carousel .item span {
  color: rgb(124, 124, 124);
}

@keyframes ring {
  0% {
    transform: rotate(25deg);
  }
  12.5% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(15deg);
  }
  37.5% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  62.5% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.owl-carousel .owl-lazy {
  border-radius: 10px;
}
.owl-carousel .item {
  transition: 0.3s;
}
.owl-carousel .item:hover {
  transform: scale(1.01);
}
.owl-carousel .item span {
  font-size: 16px;
  padding: 10px;
}
.owl-carousel .item .details .name {
  font-size: 20px;
  font-weight: 900;
  color: rgb(160, 160, 160);
}
.owl-carousel .item .details {
  cursor: pointer;
}
.owl-carousel .item .details .time,
.owl-carousel .item .details .date {
  font-size: 13px;
}
.owl-carousel .item .details .director {
  font-size: 11px;
}
.owl-carousel .item .age {
  font-size: 12px;
  border: 1px solid rgb(124, 124, 124);
  padding: 1px 1px 3px 1px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.owl-carousel .item .subtype {
  font-size: 13px;
  text-transform: capitalize;
  padding-left: 4px;
}
.owl-carousel .item .dot {
  height: 2px;
  width: 2px;
  font-size: 10px;
  padding: 0;
  margin-right: 2px;
  /* padding: 2px; */
  background-color: rgb(124, 124, 124);
  border: 1px solid transparent;
}
/* footer  */
.footer {
  max-width: 65%;
  margin: 1rem auto;
  padding-top: 20px;
  padding-bottom: 10px;
  overflow: auto;
}
.footer ul {
  list-style: none;
}
.footer,
.footer a {
  color: #999;
  font-size: 14px;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  padding-bottom: 5px;

  line-height: 1.9;
}

.footer p i {
  font-size: 30px;
  margin-right: 20px;
}
.footer p span#service {
  border: 2px solid rgb(124, 124, 124);
  padding: 3px 8px 5px;
}
.footer p#copyright {
  font-size: 12px;
  margin-bottom: 0px;
}
@media (max-width: 960px) {
  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 475px) {
  .footer {
    margin-top: 70px;
  }
}
