@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

#shows .container {
  max-width: 90%;
}
#shows .category {
  margin: 20px 0;
}
#shows .title {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 27px;
  font-weight: 700;
}
#shows .playNow,#shows .moreInfo{
  background: white !important;
  padding: 7px 30px;
  font-weight: 700;
  font-size: 20px;
}
#shows .playNow i,#shows .moreInfo i{
  padding-right: 9px;
}
#shows .moreInfo{
  background: rgba(65, 65, 65, 0.55) !important;
  padding-right: 7px 20px;
  color: white;
}
#shows span.tempAge{
  background-color: rgba(77, 77, 77, 0.6);
  border-left: 3px solid white;
  color: white;
  font-weight: 600;
  padding: 5px 25px;
}
@media (max-width: 700px) {
  #shows .playNow,#shows .moreInfo{
    padding: 5px 20px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  #shows .container {
    max-width: 80%;
  }
  #shows .playNow,#shows .moreInfo{
    padding: 5px 13px;
    font-size: 16px;
  }
  #shows span.tempAge{
    padding: 5px 18px;
    font-size: 13px;
  }
}
@media (max-width: 380px) {
  #shows .container {
    max-width: 75%;
  }
  #shows .playNow,#shows .moreInfo{
    padding: 5px 11px;
    font-size: 15px;
  }
}

